tests/org.eclipse.xtend.typesystem.xsd.tests/src/org/eclipse/xtend/typesystem/xsd/tests/ecorebuilder/SchemaWithGlobalElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/SchemaWithoutGlobalElements"
	xmlns:tns="http://www.example.org/SchemaWithoutGlobalElements"
	elementFormDefault="qualified">

	<complexType name="Type3">
		<sequence>
			<element name="ele1" type="string"></element>
			<element name="ele2" type="int"></element>
		</sequence>
	</complexType>

	<simpleType name="Simple3">
		<restriction base="string"></restriction>
	</simpleType>

	<element name="element3" type="tns:Type3"></element>
</schema>