tests/org.eclipse.xtend.typesystem.xsd.tests/src/org/eclipse/xtend/typesystem/xsd/tests/extendxmlreader/FileList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/FileList"
	xmlns:tns="http://www.example.org/FileList"
	elementFormDefault="qualified">

	<complexType name="FileList">
		<sequence>
			<element name="file" type="string" maxOccurs="unbounded"
				minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<element name="files" type="tns:FileList"></element>
</schema>