tests/org.eclipse.xtend.typesystem.xsd.tests/src/org/eclipse/xtend/typesystem/xsd/tests/reloadschemas/Ns1-B.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/Ns1"
	xmlns:tns="http://www.example.org/Ns1"
	elementFormDefault="qualified">

	<complexType name="ComplexB">
		<sequence>
			<element name="ElementB" type="string"></element>
		</sequence>
	</complexType>

	<simpleType name="SimpleB">
		<restriction base="string"></restriction>
	</simpleType>
</schema>