tests/org.eclipse.xtend.typesystem.xsd.tests/src/org/eclipse/xtend/typesystem/xsd/tests/reloadschemas/Ns3-M-C.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/Ns3"
	xmlns:tns="http://www.example.org/Ns3" elementFormDefault="qualified"
	xmlns:pref="http://www.example.org/Ns1">

	<import namespace="http://www.example.org/Ns1"
		schemaLocation="Ns1-C-AB.xsd">
	</import>
	<complexType name="ComplexK">
		<sequence>
			<element name="ElementK" type="string"></element>
		</sequence>
	</complexType>

	<simpleType name="SimpleK">
		<restriction base="string"></restriction>
	</simpleType>
</schema>